backend/johnny-five/node_modules/
node_modules/nopixel/node_modules/
test/node_modules

config.json

# ignore log files
*.log
npm-debug.log

# ignore SolidWorks temporary files
~$*.SLDPRT
~$*.SLDASM

# Ignore Corel Draw Backup Files

Backup_*
OLD0*


# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps

# file locks introduced since 7.x
*.lck